/* CSS Document */
.top{ background:#999; height:400px; }

.main_menu{ height:50px; background:#0F0; }
.main_menu ul{display:block;}
.main_menu ul li{ float:left; margin:0px 108px; display:block; color:#FFF; font-size:11.5px}


